@font-face{
    font-family: 'Cobra';
    src: url(SnakeChan.otf);
}

body {
    height: 95vh;
    width: 95;
    display: flex; /* Define posicionamento */
    justify-content: center; /* Alinha horizontamente no meio*/
    align-items: center; /* Alinha verticalmente no meio*/
    flex-direction: column; /* Muda a direção do flex para coluna*/
    color: green;
    font-family: 'Cobra';
}

footer#rodape {
    font-family: 'Arial', sans-serif;
    clear:both;
}

footer#rodape p{
    text-align: center;
    font-size: 10pt;
    color: #888888;
}

footer#rodape p#cr {
    margin-bottom: -10px;
}
